.dashboard-page {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 40px;
    align-items: start;
    height: 100vh;
    width: 100%;
    padding-bottom: 30px;
    background-color: #EAEAEA;

    .user-profile-block {
        position: relative;
        width: 50%;
        padding-bottom: 40px;
        border-radius: 10px;
        background-color: rgb(31, 29, 29);
        .profile-banner {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height: 200px;
            width: 100%;
        }
        .profile-picture {
            position: absolute;
            left: 5px;
            top: 110px;
            //transform: translate(0px, -90px);
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin-left: 30px;
        }
        .user-name-info {
            width: 60%;
            margin-top: 90px;
            padding-left: 38px;
            font-size: 1rem;
            color: white;
            h2 {
                margin-top: 70px;
            }
            button {
                cursor: pointer;
                position: absolute;
                bottom: 80px;
                right: 15px;
                border: none;
                outline: none;
                padding: 5px;
                color: black;
                background-color: #EAEAEA;
            }
        }
    }
    .latest-cart-pick {
        position: relative;
        min-height: 200px;
        height: fit-content;
        width: 30%;
        .profile-cart-wrap {
            display: flex;
            flex-direction: column;
            height: 240px;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            background-color: white;
            h2 {
                margin-bottom: 5px;
            }
            .empty-sign {
                margin-top: 50px;
                font-size: 1rem;
                color: rgb(27, 25, 25);
                text-align: center;
            }
            .cart-picks {
                position: relative;
                display: flex;
                width: 100%;
                margin-bottom: 5px;
                background-color: #EAEAEA;
                img {
                    width: 60px;
                }
                p {
                    padding: 5px;
                }
                span {
                    position: absolute;
                    font-size: 0.8rem;
                    bottom: 5px;
                    right: 5px;
                }
            }
        }
        .user-settings {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            border-radius: 10px;
            height: 55px;
            padding: 10px;
            background-color: white;
            font-size: 1.3rem;
            p {
                display: flex;
                align-items: center;
                text-decoration: none;
                width: 100%;
                color: black;
                svg {
                    margin-right: 5px;
                }
            }
        }
        
    }
}

.settings-backdrop {
    position: absolute;
    z-index: 16;
    height: 100vh;
    width: 100%;
    transform: translateY(-95px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.648);
    .settings-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 500px;
        border-radius: 10px;
        background-color: white;
        h2 {
            margin-bottom: 20px;
        }

        input {
            height: 35px;
            width: 80%;
            padding-left: 15px;
            margin-bottom: 30px;
            &:focus::placeholder {
                color: transparent;
            }
        }



        .submit-nav {
            position: absolute;
            bottom: 20px;
            right: 30px;
            font-size: 1.4rem;
            button {
                cursor: pointer;
                margin-left: 25px;
                border-radius: 10px;
                border: none;
                outline: none;
                padding: 8px;
                color: white;
                background-color: black;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .dashboard-page {
        flex-direction: column;
        align-items: center;
        height: 100%;
        

        .user-profile-block {
            width: 600px;
            align-self: center;
            @media (max-width: 600px) {
                width: 98%;
            }
            .profile-picture{
                
            }
        }
        .latest-cart-pick {
            width: 600px;
            align-self: center;
            @media (max-width: 600px) {
                width: 98%;
            }
        }
    }
    .settings-backdrop {
        position:fixed;
        top: 95px;
        align-items: center;
        .settings-wrap {
            @media(max-width: 590px) {

                width: 90%;
            }
        }
    }
}