* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #1b4332;
  --main-btn-color: #2d6a4f;
}

.home-section-first {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  height: 90vh;
  padding-right: 130px;
  background-color: #C4C4C4;

  background-image: url("../images/furnitureBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  div {
    position: relative;
    height: 350px;
    width: 500px;
    padding: 20px;
    text-align: start;
    font-size: 1.6rem;
    color: #B88E2F;
    background-color: #FFF3E3;
    h1 {
      font-weight: bolder;
      font-size: 2.8rem;
      margin-bottom: 20px;
      width: 80%;
    }
    p {
      font-size: 1rem;
      color: rgb(78, 78, 78);
    }
    .home-btn {
      background-color: #B88E2F;
      color: white;
      font-weight: bolder;
      margin-top: 20px;
      height: 40px;
      width: 140px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: #f5bf40;
        color: var(--main-bg-color);
      }
      &.electronics {
        background-color: #2d2d34;
      }
      &.allProducts {
        background-color: #2d6a4f;
      }
      &.womenBtn {
        background-color: #f1e4e8;
      }
    }
  
  }
}


.categories-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  height: auto;
  width: 100%;
  padding: 20px;
  padding-top: 80px;
  padding-bottom: 80px;

  background-image: linear-gradient(to left, #ffffff, #fefdfe, #fffbfb, #fff9f7, #fcf8f3);

  header {
    text-align: center;
    h2 {
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
    p {
      color: #2d2d34;
      font-size: 0.9rem;
    }
  }

  > div {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
    height: 500px;
    gap: 5px;
    width: 85%;
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 19px -3px rgba(0,0,0,1);
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,1);
    a {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 100%;
      .category-overlay {
        position: absolute;
        z-index: 5;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.537);
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 100px;
          color: white;

          span {
            font-weight: bolder;
            transform: translateX(25%);
            transition: transform 0.3s ease;
          }

          svg {
            transform: translateY(2px);
            font-size: 1.4rem;
            color: white;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.5s ease, opacity 0.5s ease;
          }
        }
      }
      img {
        position: relative;
        z-index: 4;
        height: 100%;

        width: 100%;
        object-fit: cover;
        

        transition: transform 0.6s ease;
      }

      &:hover {

        .category-overlay {

          > div {

            span {
              transform: translateX(0%);
            }

            svg {
              opacity: 1;
              visibility: visible;
            }
          }


        }
        
        img {
          transform: scale(1.1);
        }

      }
      &:nth-child(1) {
        grid-column: span 1;
        grid-row: span 3;
        background-color: orange;

      }
      &:nth-child(2) {
        grid-column: span 2;
        img {
          object-position: center;
        }

        background-color: violet;
      }
      &:nth-child(3) {
        grid-column: span 1;

        img {
          object-position: top;
        }

        background-color: yellow;
      }
      &:nth-child(4) {
        grid-column: span 2;
        grid-row: span 2;
        img {
          object-fit: top;
        }

        background-color: black;
      }
      &:nth-child(5) {
        grid-column: span 1;
        grid-row: span 2;

        background-color: red;
      }
    }

  }
}


.benefits-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  background-color: #FCF8F3;
  >h2 {
    font-size: 2.5rem;
    margin-bottom: 80px;
    color: #07484A;
    background-color: transparent;
  }
  .benefits-info {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 240px;
      text-align: center;
      width: 25%;
      img {
        width: 80px;
      }
    }
  }
}

.featured-products {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 450px;
  width: 100%;
  padding: 20px 0px;
  background-color: white;
  .featured-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 2rem;
    height: 90%;
    width: 25%;
    padding: 20px;
    color: black;
    h2 {
      font-size: 1.6rem;
      width: 90%;
      margin-bottom: 5px;
    }
    p {
      font-size: 0.9rem;
      width: 90%;
    }
    button {
      border: none;
      outline: none;
      height: 40px;
      width: 140px;
      font-weight: bold;
      color: white;
      background-color: #B88E2F;
    }
  }
  .featured-right {
    display: flex;
    justify-content: space-evenly;
    height: 90%;
    width: 65%;
  }
}



.newsletter-join-section {
  overflow-x: hidden;
  position: relative;
  display: flex;
  height: 400px;
  width: 100%;
  .img {
    height: auto;
    width: 50%;

    object-fit: cover;


  }
  .newsletter-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #B88E2F;
    .sign-up-box {
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 70%;
      width: 70%;
      h2 {
        font-size: 40px;
        font-weight: 100;
        color: white;
        &:last-of-type {
          font-weight: bold;
          margin-bottom: 15px;
        }
      }
      p {
        font-weight: bold;
        font-size: 0.9rem;
        color: black;
        margin-bottom: 15px;
      }
      input {
        height: 40px;
        width: 55%;
        outline: none;
        border: none;
        padding-left: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid white;
        color: black;
        background-color: #b88e2f;
        &::placeholder {
          color: rgb(217, 217, 217);
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
      button {
        cursor: pointer;
        font-weight: bolder;
        height: 40px;
        width: 120px;
        border: none;
        outline: none;
        color: black;
        background-color: white;
      }
    }
  }
}



@media only screen and (max-width: 1000px) {
  .home-section-first {
    align-items: center;
    padding: 0;
    div {
      width: 90%;
      color: black;
      text-align: center;
      background-color: transparent;
      h1 {
        width: 100%;
      }
    }
  }
  
}

@media only screen and (max-width: 790px) {
  .featured-products {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
    width: 100%;
    padding: 20px 0px;
    background-color: white;


    height: auto;
    flex-direction: column;



    .featured-left {
      text-align: center;
      align-items: center;
      height: auto;
      width: 95%;
      margin-bottom: 40px;
    }
    .featured-right {
      width: 95%;
      align-items: center;
      height: fit-content;
      flex-direction: column;
    }
  }
}

@media only screen and (max-width: 615px) {


  .categories-section {
    header {
      text-align: center;
      h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
      }
      p {
        color: #2d2d34;
        font-size: 0.9rem;
      }
    }
  
    > div {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, minmax(0, 1fr));
      height: 500px;
      gap: 5px;
      width: 85%;


      height: 600px;
      width: 100%;
      grid-template-rows: repeat(5, minmax(0, 1fr));

      a {
        overflow: hidden;
        position: relative;
        height: 100%;
        width: 100%;
        .category-overlay {
          position: absolute;
          z-index: 5;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.537);
          > div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 100px;
            color: white;
  
            span {
              font-weight: bolder;
              transform: translateX(25%);
              transition: transform 0.3s ease;
            }
  
            svg {
              transform: translateY(2px);
              font-size: 1.4rem;
              color: white;
              visibility: hidden;
              opacity: 0;
              transition: visibility 0.5s ease, opacity 0.5s ease;
            }
          }
        }
        img {
          position: relative;
          z-index: 4;
          height: 100%;
  
          width: 100%;
          object-fit: cover;
          
  
          transition: transform 0.6s ease;
        }
  
        &:hover {
  
          .category-overlay {
  
            > div {
  
              span {
                transform: translateX(0%);
              }
  
              svg {
                opacity: 1;
                visibility: visible;
              }
            }
  
  
          }
          
          img {
            transform: scale(1.1);
          }
  
        }
        &:nth-child(1) {
          grid-column: span 4;
          grid-row: span 1;
          background-color: orange;
  
        }
        &:nth-child(2) {
          grid-column: span 4;
          grid-row: span 1;
          img {
            object-position: center;
          }
  
          background-color: violet;
        }
        &:nth-child(3) {
          grid-column: span 4;
          grid-row: span 1;
  
          img {
            object-position: top;
          }
  
          background-color: yellow;
        }
        &:nth-child(4) {
          grid-column: span 4;
          grid-row: span 1;
          img {
            object-fit: top;
          }
  
          background-color: black;
        }
        &:nth-child(5) {
          grid-column: span 4;
          grid-row: span 1;
  
          background-color: red;
        }
      }
  
    }
  }


  .benefits-section {
    height: auto;
    margin-top: 30px;
    h2 {
      margin: 0;
      padding: 5px;
      margin-bottom: 10px;
      width: 100%;
      text-align: center;
    }
    .benefits-info {
      flex-direction: column;
      div {
        width: 100%;
      }
    }
  }
  .newsletter-join-section {
    flex-direction: column;
    align-items: center;
    height: fit-content;
    .img {
      height: auto;
      width: 100%;
    }
    .newsletter-info {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      .sign-up-box {
        h2, p {
          width: 100%;
          text-align: center;
        }
        h2 {
          font-size: 2.4rem;
        }
        input {
          margin: 0 auto;
          margin-bottom: 10px;
          &::placeholder {
            text-align: center;
          }
        }
        button {
          margin: 0 auto;
        }
      }
    }
  }
}