.nav-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    z-index: 1;
    background-color: white;
    height: 300px;
    width: 100vw;
    top: 50px;
    left: -2000px;
    transition: all 0.4s ease-in-out;
}
.nav-mobile > li {
    margin-top: 30px;
}
.nav-mobile > li > a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}
.nav-mobile.active {
    top: 50px;
    left: 0px;
}