section {
    position: relative;
    background-color: white;
    height: 1000px;
}
:root {
    --main-bg-color: #1b4332;
    --main-btn-color: #2d6a4f;
    --main-text-color: white;
}
.products-page {
    margin: 0 auto;
    width: 100%;
    min-height: 93vh;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    grid-gap: 20px;
    padding-top: 50px;
}
.products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 390px;
    height: auto;
    max-width: 550px;
    padding: 4px;
    padding-bottom: 30px;
    background-color: white;
    margin-bottom: 30px;
    -webkit-box-shadow: -9px -7px 20px -2px rgba(207, 205, 207, 0.87);
    -moz-box-shadow: -9px -7px 20px -2px rgba(207, 205, 207, 0.87);
    box-shadow: -9px -7px 20px -2px rgba(207, 205, 207, 0.87);
}
.products-container > img {
    align-self: center;
    min-height: 220px;
    height: auto;
    max-height: 100px;
    max-width: 200px;
}
.products-container > div {
    text-align: center;
    margin: 0 auto;
    margin-top: 2px;
    height: auto;
    width: 210px;
    padding: 5px;
}
.products-container > div > h1 {
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: lighter;
}
.products-container > div > p {
    text-align: center;
    margin-top: 3px;
    font-size: 13px;
    line-height: 20px;
    word-break: normal;
    margin-bottom: 20px;
}
.card-btn {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    cursor: pointer;
}
.nav-filter {
    padding: 10px;
    text-align: center;
}
.nav-filter > label {
    color: #1b4332;
    font-size: 25px;
    font-weight: bolder;
}
.nav-filter > label > select {
    background-color: #2d6a4f;
    color: white;
    padding: 5px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
}
.nav-filter > label > select > option {
    height: 20px;
}
@media screen and (max-width: 1300px) {
    .products-page {
        grid-template-columns: repeat(3, 350px);
   }
}
@media screen and (max-width: 1130px) {
    .products-page {
        grid-template-columns: repeat(2, 350px);
   }
}
@media screen and (max-width: 750px) {
    .products-page {
        grid-template-columns: repeat(1, 350px);
        padding-left: 20px;
        padding-right: 20px;
   }
}