* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --main-background-color: blue;
    --main-nav-color: #ffffff;
    --green: #70e000;
    --medium-gray: #C4C4C4;
    --light-grey: #F0F0F0;
}

body {
    font-family: 'Lato', sans-serif;
}

.App {
    position: relative;
    width: 100%;

    //background-color: green;

    .nav-container {
        position: relative;
        top: 0px;
        z-index: 15;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 130px;
        height: 80px;
        width: 100%;
        color: black;
        background-color: rgb(255, 255, 255);

        .logo-div {
            position: relative;
            height: 50px;
            width: 250px;

            > a {
                position: relative;
                height: 100%;
                width: 100%;
                > img {
                    height: 100%;
                    width: 100%;
                }
            }
        }



        



        .links-to-page {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            width: 50%;
            a {
                position: relative;
                font-size: 1rem;
                color: var(--main-nav-color);
                font-weight: 800;
                color: black;
                text-decoration: none;
                &:after {
                    position: absolute;
                    left: 0px;
                    bottom: -7px;
                    content: '';
                    height: 3px;
                    width: 0px;
                    background-color: black;
                    transition: width 0.3s ease;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
        .icons-wrap {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            width: 10%;
            & > * {
                cursor: pointer;
                font-size: 1.4rem;
                color: black;
            }
            > div a {
                color: black;
            }
            .cart-icon {
                position: relative;
                div {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.55rem;
                    border-radius: 50%;
                    right: -5px;
                    bottom: -3px;
                    height: 15px;
                    width: 15px;
                    color: white;
                    background-color: red;
                }
            }
            .user-profile-picture img {
                height: 25px;
                width: 25px;
                border-radius: 50%;
            }
        }
    }
    .mobile-menu {
        display: none;
    }

    .content-section {
        height: auto;
        width: 100%;
        background-color: #1722c3;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 250px;
        width: 100%;
        color: black;
        background-color: #FFF3E3;
      
        
        > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 10px;
          font-size: 0.8rem;
          a {
            text-decoration: none;
          }
          
          h2 {
            font-size: 1.3rem;
          }
      
          &:nth-of-type(2) {
            > h2 {
              margin-bottom: 5px;
            }
            a {
              color: black;
              margin-top: 5px;
            }
          }
          &:nth-of-type(3) {
            > h2 {
              margin-bottom: 5px;
            }
            > div  {
              margin-top: 10px;
      
              svg {
                cursor: pointer;
                font-size: 1rem;
                margin-right: 5px;
              }
            }
          
          }
        }
      
      
      
    }

}




.length {
    position: absolute;
    background-color: red;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;


    h1 {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
    ul {
        display: flex;
        list-style: none;
        li {
            padding-left: 40px;
            padding-right: 55px;
            a {
                font-weight: 300;
                width: 100%;
                font-size: 16px;
                text-decoration: none;
                color: black;
            }
        }
    }
}



@media screen and (max-width: 990px) {
    .App {

        .nav-container {
            display: none;
        }
        .mobile-menu {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin: 0 auto;
            height: fit-content;
            padding: 5px;
            padding-bottom: 10px;
            width: 95%;
            z-index: 9;

            background-color: white;


            
            a {
                color: black;
                img {
                    height: 45px;
                    border-radius: 50%;
                    width: 45px;
                }
            }
            svg {
                justify-items: center;
                font-size: 2.4rem;
            }
        }

        footer {
            text-align: center;
            row-gap: 30px;
            height: auto;
            padding: 40px 0px;
            flex-direction: column;
    
        }
    }



}

